.logo {
    width: 30px;
    border-radius: 3px;
  
}

@media screen and (max-width:991px) {
    .logo {
        width: 30px;
        border-radius: 3px;
    }

    .txt {
        margin-left: -535px;
    }
} 

@media screen and (max-width:767px) {
    .logo {
        width: 30px;
        border-radius: 3px;
    }

    .txt {
        margin-left: -355px;
    }
} 

@media screen and (max-width:575px) {
    .logo {
        width: 30px;
        border-radius: 3px;
        
    }

    .txt {
        margin-left: -395px;
    }
} 

@media screen and (max-width:569px) {
    .logo {
        width: 30px;
        border-radius: 3px;
        
    }

    .txt {
        display: none;
        margin-left: -385px;
    }
} 

