:root {
  background-color: rgb(210, 248, 255);
}

.body {
  backdrop-filter: blur(px);
  background-image: url(./components/home/pexelspc.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; 

}












